<!-- Footer -->
<footer class="page-footer bg-dark text-light small">
  <div class="footer-copyright text-center py-3">© <%= currentYear %> Copyright: <a href="/"> www.lavanese.com</a>  </div>
</footer>
