<%- include('./partials/topProducts') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Who are we?</h1>
        <p>
          The Lavanese is one of the promising cake shop.Vestibulum consequat ex venenatis, hendrerit neque elementum, consequat lectus. Maecenas mollis mi nec ultricies luctus. Donec dictum justo nec viverra accumsan. Duis tellus risus, sagittis vitae efficitur nec, varius eget sem. Aenean at tincidunt ipsum. Fusce vitae lacus vel dui pellentesque euismod id ac eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam in sem a dolor euismod suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lectus vulputate sem fermentum, scelerisque pretium enim bibendum. Phasellus cursus pellentesque est, vitae lobortis ligula volutpat eu. Sed suscipit magna arcu, in euismod metus faucibus et. Aenean imperdiet aliquam nisi, a lobortis augue fermentum id. Aliquam velit metus, imperdiet at euismod ut, iaculis ut nisi. Vestibulum condimentum aliquet blandit. Praesent tempus faucibus urna eu mattis. Aenean rhoncus ipsum at lorem rhoncus ullamcorper. Fusce sollicitudin ligula ut nunc pretium semper. Quisque egestas aliquam mattis.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Be with us!</h2>
        <p>
          If you want to keep up with what's going on,
          <a href="http://www.twitter.com/">follow us on twitter</a>. If you're in
          FaceBook, you can also
          <a href="http://www.facebook.com/">follow us</a>.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h2 class="sidebar-title">Our Moto</h1>
        <ul class="sidebar-body">
          <li>We strive towards quality and perfection in all our products. </li>
          <li>Our relentless focus on sourcing quality ingredients with high nutritional value and delightful taste guides us on our quest to provide fresh, healthy, and wholesome choices to all our customers.</li>
          <li>Some of our products are – Cakes and Cookies , Seeded Buns , Biscuits etc.</li>
        </ul>
      </article>
      <%- include('./partials/gallery') %>
    </aside>
  </div>
</div>
